<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7x0M1gPBIY1VbELgXaD3kO7tm4N1bSgI</string>
	<key>GCM_SENDER_ID</key>
	<string>861381109066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cubicFlutterAssessment</string>
	<key>PROJECT_ID</key>
	<string>cubic-flutter-assessment</string>
	<key>STORAGE_BUCKET</key>
	<string>cubic-flutter-assessment.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861381109066:ios:bd90db97e933b060900db3</string>
</dict>
</plist>